.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.logo{
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    width: 45px;
}

.navbar-cont {
  width: 100%;
  justify-content: space-between;
  padding: 24px 7%;
  /* background-color: green */
  border: 2px solid black;
}

.auth-btn-cont{
    display: flex;
    font-size: 14px;
}

#login-btn {
  color: #992e9d;
  border: none;
  padding: 20px;
  background-color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}
#signin-btn {
  background-color: #992e9d;
  border: none;
  padding: 20px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 14px;
  font-weight: 500;
  box-shadow: 0px 8px 48px -10px #992E9D80;
}
